<<<<<<< HEAD
//colors
$grey: #333;
$white: #eee;

//navigation colors
$nav-background: $grey;
$nav-text-color: $white;

//clock variabls
$clock-text-color: #fff;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;

=======
//colors
$grey: #333;
$white: #eee;

//navigation colors
$nav-background: $grey;
$nav-text-color: $white;

//clock variabls
$clock-text-color: #fff;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;

>>>>>>> 7102544a61d94b6b21b22d9e9c5548cd0d0f48ed
